#BASED ON EXECUTION ENVIRONMENT THESE PARAMETERS NEED TO BE CHANGED#
TEST_ENVIRONMENT=DEV
#BASED ON EXECUTION OS THESE PARAMETERS NEED TO BE CHANGED#
PROXY_USER_ID=
PROXY_PASSWORD=

#TEST DATA SHEET SHOULD BE CHANGED FOR ENVIRONMENT#
TEST_DATA_WORKBOOK=MasterTestDataSheet.xlsx
#SELENIUM_TEST_DATA_WORKBOOK=MasterTestDataSheet.xlsx
#SELECT VALUE FOR SELENIUM DEMO MODE - YES/NO#
SELENIUM_DEMO_MODE=NO
SELENIUM_DEMO_MODE_TIME_DELAY=10

#Take Screen Shots#
TAKE_SCREEN_SHOT=NO

#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#

######################################################################################################################################################
#TEST ENVIRONMENT SET UP FOR DEV ############################################################################################################
######################################################################################################################################################
SERVER_DEV=https://qa-api.canadalife.com
ENVIRONMENT_DEV=v1


######################################################################################################################################################
#DATABASE DETAILS SET UP FOR DEV ############################################################################################################
######################################################################################################################################################
#RAM DB DETAILS - DEV#
RAM_DB_URL_DEV=jdbc:oracle:thin:@vrhogdu100.eu.nag.net:1538:CHSU
RAM_DB_USERID_DEV=RIT_USER1_R
RAM_DB_PASSWORD_DEV=RitRead123$
RAM_DB_TABLE_DEV=E1FA_REUSE_CSI_REP_DEV.SAVED_CHALLENGE
######################################################################################################################################################
#NON PROXY HOSTS FOR ON PAAS URLS#####################################################################################################################
######################################################################################################################################################
NON_PROXY_HOST=10.*|localhost|127.0.0.1|nexus-caboodle.sharedservices.obps.io|*.xip.io|*.nip.io|*.obps.io
######################################################################################################################################################
#TOPIC QUEUE DETAILS FOR DEV ################################################################################################################
######################################################################################################################################################
TOPIC_SERVER_DEV=vrhwmqu202.eu.nag.net
TOPIC_GROUPID_DEV=vrhwmqu202.eu.nag.net
TOPIC_DEV_PORT=9093




#######################################################################################################################################################